# Environment
.env

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Celery
celerybeat-schedule
celerybeat.pid

# Uploads / temp files
uploads/
*.pdf

# OS
.DS_Store
Thumbs.db

# Node
node_modules/